body {
  background-color: #73c4fa;
}

header {
  color: white;
  font-family: 'Montserrat';
}

fieldset {
	display: flex;
	width: 20%;
}

.input-twitter {
	align-items: flex-end;
}

#display {
	color:white;
	background-color: grey;
	size: 30%;
}

#regressive-counter {
	background-color: antiquewhite;
	font-size: 12px;
	font-family: 'Montserrat';
	width: 40px;
	height: 20px;
	color: black;
}