body {
  background-color: #0099ff;
}

header {
  color: white;
  font-family: 'Montserrat';
}

.input-twitter {
	display: inline-flex;
}

#display {
	color:white;
	background-color: grey;
	size: 30%;
}

#regressive-counter {
	color: antiquewhite;
	size: 15px;
}


